<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EvidenceKoni</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
</head>
<body>
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <span style="font-size: 2.2rem;">E-stable</span>
                </a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <!--Lišta se zobrazí pouze přihlášenému-->
                    @if (User?.Identity?.IsAuthenticated == true)
                    {
                        <ul class="navbar-nav d-flex justify-content-center mb-2 mb-lg-0">
                            <li class="nav-item px-1">
                                <a class="nav-link" style="font-size: 1.2rem" asp-controller="Owners" asp-action="Index">Majitelé</a>
                            </li>
                            <li class="nav-item px-1">
                                <a class="nav-link" style="font-size: 1.2rem" asp-controller="Horses" asp-action="Index">Koně</a>
                            </li>
                            <li class="nav-item px-1">
                                <a class="nav-link" style="font-size: 1.2rem" asp-controller="Procedures" asp-action="Index">Procedury</a>
                            </li>
                            <li class="nav-item px-1">
                                <a class="nav-link" style="font-size: 1.2rem" asp-controller="Stables" asp-action="index">Ustájení</a>
                            </li>
                            <li class="nav-item px-1">
                                <a class="nav-link" style="font-size: 1.2rem" asp-controller="Workers" asp-action="index">Pracovníci</a>
                            </li>
                        </ul>
                    }
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav">
                        </ul>
                        <div class="navbar-nav ml-auto">
                            @if (User?.Identity?.IsAuthenticated == true)
                            {
                                <a class="nav-link" style="font-size: 1.1rem" asp-controller="Account" asp-action="Logout">Odhlásit</a>
                            }
                            else
                            {
                                <a class="nav-link" style="font-size: 1.1rem" asp-controller="Account" asp-action="Login">Přihlásit</a>
                                <a class="nav-link" style="font-size: 1.1rem" asp-controller="Account" asp-action="Register">Registrovat</a>
                            }
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <p>&copy; <span id="current-year">2024</span> - E-stable - <a asp-controller="Home" asp-action="Index"></a>Domů</p>
                </div>

                <script>
                    document.getElementById("current-year").innerText = new Date().getFullYear();
                </script>
                <div class="col-md-4">
                    <div class="text-center">
                        <a href="https://www.facebook.com/merlin159" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-facebook-f footer-icon"></i>
                        </a>
                        <a href="https://www.instagram.com/ondramatt/" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-instagram footer-icon"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/ond%C5%99ej-m-7229202b0/" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-linkedin-in footer-icon"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
