@model EvidenceKoni.Models.Stable

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center">Upravit</h1>

<h4 class="text-center">Ustájení</h4>
<hr />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Price" class="control-label">Cena:</label> <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Paid" class="control-label">Uhrazeno:</label>
                    <select asp-for="Paid" class="form-control" asp-items="Html.GetEnumSelectList<Paid>()"></select>
                    <span asp-validation-for="Paid" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StabledFrom" class="control-label">Ustájen od:</label>
                    <input asp-for="StabledFrom" class="form-control" />
                    <span asp-validation-for="StabledFrom" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StabledTo" class="control-label">Ustájen do:</label>
                    <input asp-for="StabledTo" class="form-control" />
                    <span asp-validation-for="StabledTo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Note" class="control-label">Poznámka:</label>
                    <input asp-for="Note" class="form-control" />
                    <span asp-validation-for="Note" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OwnerId" class="control-label">Majitel:</label>
                    <select asp-for="OwnerId" class="form-control" asp-items="ViewBag.OwnerId"></select>
                    <span asp-validation-for="OwnerId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HorseId" class="control-label">Kůň:</label>
                    <select asp-for="HorseId" class="form-control" asp-items="ViewBag.HorseId"></select>
                    <span asp-validation-for="HorseId" class="text-danger"></span>
                </div>
                <div class="form-group text-center">
                    <input type="submit" value="Uložit" class="btn btn-outline-dark mb-2 mt-2" />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="text-center">
    <a asp-action="Index" class="btn btn-outline-primary">Zpět na seznam</a>
</div>

