@model EvidenceKoni.Models.Worker

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center">Vytvořit</h1>

<h4 class="text-center">Nový pracovník</h4>
<hr />
<div class="container d-flex justify-content-center">
    <div class="row">
        <style>
            .container > .row > .col-md-6 {
                width: 500px;
            }
        </style>
        <div class="col-md-6">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label">Jméno:</label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label">Příjmení:</label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Profession" class="control-label">Pozice:</label>
                    <select asp-for="Profession" class="form-control" asp-items="Html.GetEnumSelectList<Profession>()"></select>
                    <span asp-validation-for="Profession" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Phone" class="control-label">Telefon:</label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label">Email:</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Adress" class="control-label">Adresa:</label>
                    <input asp-for="Adress" class="form-control" />
                    <span asp-validation-for="Adress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="City" class="control-label">Město:</label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group text-center">
                    <input type="submit" value="Vytvořit" class="btn btn-outline-dark mb-2 mt-2" />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="text-center">
    <a asp-action="Index" class="btn btn-outline-primary">Zpět na seznam</a>
</div>


