@model LoginViewModel

@{
    ViewData["Title"] = "Přihlášení";
}

<div class="row justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-md-6">
        <div class="card rounded-3 shadow-lg" style="background: linear-gradient(to right, #ffffff, #f8f9fa);">
            <div class="card-body">
                <h5 class="card-title text-center">@ViewData["Title"]</h5>
                <form asp-route-returnUrl="@ViewData["ReturnUrl"]">
                    <div class="mb-3">
                        <label for="Email" class="form-label">Email:</label>
                        <input type="email" class="form-control" id="Email" asp-for="Email" required />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label for="Password" class="form-label">Heslo:</label>
                        <input type="password" class="form-control" id="Password" asp-for="Password" required />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="mb-3 form-check">
                        <input class="form-check-input" asp-for="RememberMe" type="checkbox" value="true" id="RememberMe">
                        <label class="form-check-label" for="RememberMe">Zapamatovat si mě</label>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Přihlásit se</button>
                    </div>
                    <div class="text-center mt-3">
                        <p>Nemáte účet? <a asp-action="Register" asp-route-returnUrl="@ViewData["ReturnUrl"]">Registrujte se</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
