@{
    ViewData["Title"] = "Home Page";
}



<div class="container">
    <div class="text-center mt-5">
        <h1>Vítejte v aplikaci E-Stable!</h1>
        <p class="lead">Tato aplikace byla vytvořena pro evidenci majitelů, jejich koní a všeho, co je ve stájích potřeba.</p>
        <h4 class="text-center">Provozní doba</h4>
    </div>
</div>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Dny</th>
                        <th>Čas jízdy a výcviku</th>
                        <th>Trénink/Jízda</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Pondělí</td>
                        <td>7:00-13:00</td>
                        <td>Trénink</td>
                    </tr>
                    <tr>
                        <td>Úterý</td>
                        <td>13:00-18:00</td>
                        <td>Jízda</td>
                    </tr>
                    <tr>
                        <td>Středa</td>
                        <td>7:00-13:00</td>
                        <td>Trénink</td>
                    </tr>
                    <tr>
                        <td>Čtvrtek</td>
                        <td>15:00-20:00</td>
                        <td>Trénink</td>
                    </tr>
                    <tr>
                        <td>Pátek</td>
                        <td>15:00-20:00</td>
                        <td>Jízda</td>
                    </tr>
                    <tr>
                        <td>Sobota</td>
                        <td>9:00-20:00</td>
                        <td>Trénink/Jízda</td>
                    </tr>
                    <tr>
                        <td>Neděle</td>
                        <td>9:00-19:00</td>
                        <td>Trénink/Jízda</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>