@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center align-items-center">
      <div class="btn-group-vertical">
        <a class="btn btn-outline-dark btn-xxl m-1" asp-area="" asp-controller="Horses" asp-action="Index">Koně</a>
        <a class="btn btn-outline-dark btn-xxl m-1" asp-area="" asp-controller="Owners" asp-action="Index">Majitelé</a>
        <a class="btn btn-outline-dark btn-xxl m-1" asp-area="" asp-controller="Stables" asp-action="Index">Ustájení</a>
        <a class="btn btn-outline-dark btn-xxl m-1" asp-area="" asp-controller="Procedures" asp-action="Index">Procedury</a>
        <a class="btn btn-outline-dark btn-xxl m-1" asp-area="" asp-controller="Workers" asp-action="Index">Pracovnící</a>
      </div>
    </div>
  </div>
</div>
